.Expense-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.914); 
    margin: 5px;
    padding: 5px 10px;
}
.btn{
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
    border: none;
}
.price{
background-color: aqua !important;
padding: 10px 30px;
display: inline-block;
border-radius: 10px;
font-size: 16px !important;
color: black;
}
.mar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: inset 3px 3px 5px 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.fla{
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
}
.month{
    font-size: 20px;
}
.day{
    font-size: 16px;
}
.year
{
font-size: 30px;
}