.Expense-item{
    background-color: rgba(4, 28, 77, 0.672);
    color:wheat;
   margin: 15px 0px;
   border-radius: 5px;
   padding: 5px 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.expitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 20px;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: all .5s ease-in-out;
}
.btn:focus{
    background-color: rgba(246, 191, 236, 0.021);
}
.year{
    font-size: 18px;
    font-weight: bold;
}
.day{
    font-size: 14px;
}
.month{
 font-size: 14px;
}
.date{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(243, 250, 247);
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
}
.expitem{
    min-width: 400px;
}
.price{
    border-radius: 5px;
    border: none;
    background-color: rgb(238, 237, 237);
    color: black;
    padding: 10px 15px;
}