.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chart-bar_inner {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #c3b4f3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
}

.chart-bar_fill{
background-color: #4826b9;
width: 100%;
border-radius: 12px;
transition: all 0.3s ease-out;
}

.chart-bar_label {
    font-weight: bold;
    font-size: .6rem;
    text-align: center;
}