.Expense-item{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap: 5px;
    border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    margin: 5px;
    padding: 5px 10px;
}
.expense_item-discription{
    transform: perspective(30deg);
}
.price{
    float: inline-end;
    border-radius: 5px ;
    background-color: bisque;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}